{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('build/home.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block banner %}
<div class="banner">

        {% block banner_title %}
            <h1 class="content-title center">
                {{ "La méthode gestuelle SESAME"|upper }}
                <span class="subtitle">
                    <br>
                    {{ " une porte qui s'ouvre sur la communication..." }}
                </span>
            </h1>
        {% endblock %}
</div>
{% endblock %}

{% block content %}
    <section id="present-div">
        <div>
            <h2>SESAME est composée de gestes simples et expressifs favorisant la communcation</h2>
        </div>
        <div>
            {#//IMG#}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/home.js') }}"></script>
{% endblock javascripts %}