
{# Form theme based on vendor/symfony/twig-bridge/Resources/views/Form #}
{#{% extends "../../vendor/symfony/twig-bridge/Resources/views/Form/bootstrap_4_layout.html.twig" %}#}

{% extends "bootstrap_4_layout.html.twig" %}
{# FORM CUSTOMIZATION #}

{# IMAGES #}

{%- block image_row -%}
    <div class="name_row">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}

        {%- if form.vars.value.image is not null -%}
            <img src="{{ asset('thesaurus/gestures/images/' ~ form.vars.value.cover) }}" alt="{{ form.vars.value.cover }}">
        {%- endif -%}
    </div>
{%- endblock -%}