{% trans_default_domain 'FOSUserBundle' %}
{% import 'form/forms.html.twig' as forms %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

    <div class="full-input">
        {{ forms.input(form.current_password,'form.current_password'|trans) }}
    </div>

    <div class="small-input">
        {{ forms.input(form.plainPassword.first,'form.password'|trans) }}
    </div>

    <div class="small-input">
        {{ forms.input(form.plainPassword.second,'form.password_confirmation'|trans) }}
    </div>

    <div class="form-buttons">
        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-submit"/>
    </div>
{{ form_end(form) }}
