{% extends 'base.html.twig' %}

{% block title %}Disabled index{% endblock %}

{% block content %}
    <h1>Disabled index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Birthday</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for disabled in disableds %}
            <tr>
                <td>{{ disabled.id }}</td>
                <td>{{ disabled.firstname }}</td>
                <td>{{ disabled.lastname }}</td>
                <td>{{ disabled.birthday ? disabled.birthday|date('d-m-Y') : '' }}</td>
                <td>
                    <a href="{{ path('management_disabled_show', {'id': disabled.id}) }}">show</a>
                    <a href="{{ path('management_disabled_edit', {'id': disabled.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('management_disabled_new') }}">Create new</a>
{% endblock %}