{% trans_default_domain 'FOSUserBundle' %}
{% import 'form/forms.html.twig' as forms %}

<h2>{{ 'layout.register'|trans }}</h2>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'full form-container'}}) }}

    <div class="small-input">

        {{ forms.input(form.firstname,'form.firstname'|trans) }}
        {# {{ form_label(form.firstname) }}
        {{ form_errors(form.firstname) }}
        {{ form_widget(form.firstname, { 'attr': {'placeholder': 'form.firstname'|trans} }) }} #}
    </div>

    <div class="small-input">
        {{ forms.input(form.lastname,'form.lastname'|trans) }}
        {# {{ form_label(form.lastname) }}
        {{ form_errors(form.lastname) }}
        {{ form_widget(form.lastname, { 'attr': {'placeholder': 'form.lastname'|trans} }) }}     #}
    </div>

    <div class="small-input">
        {{ forms.input(form.email,'form.email'|trans) }}
        {# {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, { 'attr': {'placeholder': form.email.vars.label|trans} }) }}     #}
    </div>

    <div class="small-input">
        {{ forms.input(form.username,'form.username'|trans) }}
        {# {{ form_label(form.username) }}
        {{ form_errors(form.username) }}
        {{ form_widget(form.username, { 'attr': {'placeholder': form.username.vars.label|trans} }) }}     #}
    </div>

    <div class="small-input">
        {{ forms.input(form.plainPassword.first,'form.password'|trans) }}
        {# {{ form_label(form.plainPassword.first) }}
        {{ form_errors(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first, { 'attr': {'placeholder': form.plainPassword.first.vars.label|trans} }) }}     #}
    </div>

    <div class="small-input">
        {{ forms.input(form.plainPassword.second,'form.password_confirmation'|trans) }}
        {# {{ form_label(form.plainPassword.second) }}
        {{ form_errors(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second, { 'attr': {'placeholder': form.plainPassword.second.vars.label|trans} }) }} #}
    </div>

    <div class="form-buttons">
        <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-submit"/>
    </div>
{{ form_end(form) }}
