{% extends 'base.html.twig' %}
{% import 'thesaurus/gesture/gesture.html.twig' as thes %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block content %}
    <section id="thesaurus">
            <div>
                <h2>Rechercher un geste sésame</h2>
                <p class="content-text">
                    Si vous recherchez un geste, alors vous êtes tombez au bon endroit!
                </p>
                <form action="#" class="full form-container">
                    <div class="full-input">
                        <label for="search_gesture">Rechercher un geste ici</label>
                        <div class="search-input">
                            <span class="search-logo"></span>
                            <input type="text" name="search_gesture" id="search" placeholder="Rechercher un geste ici...">
                        </div>
                    </div>
                </form>
                {# {{ dump(gesture) }} #}
                <div class="gestures-container">
                    {#{% for gesture in gestures %}#}
                        {#{{ thes.gesture(gesture.name, gesture.cover ,gesture.description) }}#}
                    {#{% endfor %}#}
                </div>
            </div>
        </section>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/thesaurus.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }} {# In order to add after parent's content #}
    <script src="{{ asset('build/thesaurus.js') }}"></script>
{% endblock %}

