{% extends 'base.html.twig' %}
{% trans_default_domain 'thesaurus' %}
{% import "macros/searchbar.html.twig" as search %}

{% block title %}{{ 'thesaurus.search.title'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/thesaurus.css') }}">
{% endblock %}

{% block content %}
    <section id="thesaurus">
            <div>
                <h1>{{ 'thesaurus.search.title'|trans }}</h1>
                {{ search.searchbar('thesaurus.search.input.label'|trans,'search_gesture',"search",true) }}
                <div class="gestures-container">
                    <div class="status">
                        <i></i>
                        <span class="status-message"></span>
                    </div>
                    <div class="gesture-details">

                    </div>
                    <div id="gesture">
                    </div>
                    <div class='pagination-controls js-pagination-controls' style="display:none;">
                        <div class="controls">
                            <button class='btn btn-primary disabled js-previous-page'><i class="fa fa-angle-left prev-icon"></i>Précédent</button>
                            <div class="separator"></div>
                            <button class='btn btn-primary js-next-page'>Suivant<i class="fa fa-angle-right next-icon"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}



{% block javascripts %}
    {{ parent() }} {# In order to add after parent's content #}
    <script src="{{ asset('build/thesaurus.js') }}"></script>
{% endblock %}

