{% trans_default_domain 'admin' %}
{% extends 'base.html.twig' %}

{% block title %}
    {{ 'admin.space.title'|trans }}
{%  endblock %}

{% block stylesheets %}
    {# ADMIN SPACE STYLESHEET #}
    <link rel="stylesheet" href="{{ asset('build/admin.css') }}">
{% endblock %}

{# ----- MENU ----- #}
{% block headerClass %}
    admin-header
{% endblock %}

{% block navbrand %}
    <a href="{{ path('admin') }}" class="navbar-brand">
        <img class="nav-brand-logo" src="{{ asset('build/static/Dolby-Vision-brand-logo.png') }}" alt="nav-brand-logo">
    </a>
{% endblock navbrand %}

{% block navClass %}

    class="navbar-nav nav-links justify-content-end"

{% endblock navClass %}

{%  block navlinks %}
    <li class="">
        <a class="admin-link" href="#">{{ 'admin.space.links.profiles'|trans }}</a>
    </li>
    <li class="">
        <a class="admin-link" href="{{ path('thesaurus_gesture_index') }}">{{ 'admin.space.links.gesture'|trans }}</a>
    </li>
    <li class="">
        <a class="admin-link" href="{{ path('home') }}">{{ 'admin.space.links.back_to_site'|trans }}</a>
    </li>

{% endblock %}


{% block banner %}
{% endblock banner %}

{% block main_content %}
    <div class="content-container">
        {% block container %}
            {% block content %}
                <div class="container">
                    <h3 class="title">Bienvenue sur l'espace d'administration</h3>
                    <div class="alert alert-info">
                        <p>
                            L'espace d'administration est un outil a utiliser avec des précautions,

                        </p>

                    </div>
                </div>
            {% endblock content %}
        {% endblock container %}
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/admin.js') }}"></script>
{% endblock %}