{% trans_default_domain 'documentation' %}

<div class="sidebar left-vertical doc-sidebar">
    <ul class="main-list">
        <li class="chapter">
            <a href="#">
                {{ 'documentation.getting_started.title'|trans }}
            </a>
        </li>
        <li class="chapter">
            <a href="#" class="">
                {{ 'documentation.gesture.title'|trans }}
            </a>
        </li>
        <ul class="sub-list">
            <li class="section">
                <a href="#" class="">
                    {{ 'documentation.gesture.list.title'|trans }}
                </a>
            </li>
            <li class="section">
                <a href="#" class="">
                    {{ 'documentation.gesture.create.title'|trans }}
                </a>
            </li>
            <li class="section">
                <a href="#" class="">
                    {{ 'documentation.gesture.modify.title'|trans }}
                </a>
            </li>
            <li class="section">
                <a href="#" class="">
                    {{ 'documentation.gesture.publish_unpublish.title'|trans }}
                </a>
            </li>
            <ul class="sub-sub-list">
                <li class="sub-section">
                    <a href="#" class="">
                        {{ 'documentation.gesture.publish_unpublish.publish.title'|trans }}
                    </a>
                </li>
                <li class="sub-section">
                    <a href="#" class="">
                        {{ 'documentation.gesture.publish_unpublish.unpublish.title'|trans }}
                    </a>
                </li>
            </ul>
            <li class="section">
                <a href="#" class="">
                    {{ 'documentation.gesture.preview.title'|trans }}
                </a>
            </li>
            <li class="section">
                <a href="#" class="">
                    {{ 'documentation.gesture.reference.title'|trans }}
                </a>
            </li>
            <ul class="sub-sub-list">
                <li class="sub-section">
                    <a href="#" class="">
                        {{ 'documentation.gesture.reference.thesaurus_operation.title'|trans }}
                    </a>
                </li>
                <li class="sub-section">
                    <a href="#" class="">
                        {{ 'documentation.gesture.reference.advices.title'|trans }}
                    </a>
                </li>
            </ul>
            <li class="section">
                <a href="#" class="">
                    {{ 'documentation.gesture.research.title'|trans }}
                </a>
            </li>
            <li class="section">
                <a href="#" class="">
                    {{ 'documentation.gesture.delete.title'|trans }}
                </a>
            </li>
        </ul>
        <li class="chapter">
            <a href="#" class="">
                {{ 'documentation.news.title'|trans }}
            </a>
        </li>
    </ul>
</div>