{% extends 'base.html.twig' %}
{% trans_default_domain 'admin' %}
{% import 'macros/actions.html.twig' as actions %}

{% block title %}{{ 'admin.profiles.list'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'admin.profiles.list'|trans }}</h1>

    <table class="table admin-table">
        <thead>
            <tr>
                <th>{{ 'admin.profile.content'|trans }}</th>
                <th>{{ 'admin.profile.owner'|trans }}</th>
                <th>{{ 'admin.control.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody class="table-content">
        {% for profile in profiles %}
            <tr>
                <td>{{ profile.content ? 'admin.control.yes'|trans : 'admin.control.no'|trans }}</td>
                <td>{{ profile.owner|trans }}</td>
                <td class="actions">
                    {{ actions.action('admin.control.show'|trans|capitalize,
                        path('profile_consult', {'id': profile.id}),'fa fa-eye action-icon')}}
                    {{ actions.action('admin.control.modify'|trans|capitalize,
                        path('management_profile_edit', {'id': profile.id}),'fa fa-edit action-icon')}}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{ 'admin.state.no_records'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ actions.action('admin.control.create'|trans({'%objet%': 'un nouveau profil'}),path('management_profile_new'),
        'fa fa-plus action-icon') }}
{% endblock %}