{% extends 'admin/admin.html.twig' %}

{% trans_default_domain 'admin' %}

{% block title %}{{ 'admin.gestures.show'|trans }}{% endblock %}


{% block content %}
    <h1>{{ 'admin.gestures.show'|trans }}</h1>


    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gesture.id }}</td>
            </tr>
            <tr>
                <th>{{ 'admin.gesture.name'|trans }}</th>
                <td>{{ gesture.name }}</td>
            </tr>
            <tr>
                <th>{{ 'admin.gesture.profileVideo'|trans }}</th>
                <td class="file">{% if path.profileVideo %}
                    <div class="file-name">
                        {{ gesture.profileVideo }}
                    </div>
                    <div class="preview-file">
                        <video controls>
                            <source src="{{ path.profileVideo }}" type="video/mp4">
                        </video>
                    </div>
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ 'admin.gesture.video'|trans }}</th>
                <td class="file">
                {% if path.video %}
                    <div class="file-name">
                        {{ gesture.video }}
                    </div>
                    <div class="preview-file">
                        <video controls>
                            <source src="{{ path.video }}" type="video/mp4">
                        </video>
                    </div>
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ 'admin.gesture.cover'|trans }}</th>
                <td class="file">
                {% if path.cover %}
                    <div class="file-name">
                        {{ gesture.cover }}
                    </div>
                    <div class="preview-file">
                        <img src="{{ path.cover }}">
                    </div>
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ 'admin.gesture.description'|trans }}</th>
                <td>{{ gesture.description }}</td>
            </tr>
            <tr>
                <th>{{ 'admin.gesture.creationDate'|trans }}</th>
                <td>{{ gesture.creationDate ? gesture.creationDate|date('d/m/Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'admin.gesture.isPublished'|trans }}</th>
                <td>{{ gesture.isPublished ? 'admin.control.yes'|trans : 'admin.control.no'|trans }}</td>
            </tr>
            <tr>
                {% if(gesture.isPublished) %}
                    <th>{{ 'admin.gesture.publicationDate'|trans }}</th>
                    <td>{{ gesture.publicationDate ? gesture.publicationDate|date('d/m/Y H:i') : '' }}</td>
                {% endif %}
            </tr>
        </tbody>
    </table>


    <div class="button-container">
        <div class="right-buttons">
            <a href="{{ path('admin_gesture_edit', {'id': gesture.id}) }}" class="action-link">
                <i class="fa fa-edit action-icon"></i>
                <span class="action-name">
            {{ 'admin.control.modify'|trans|capitalize }}
            </span>
            </a>
        </div>
        <div class="left-buttons">
            {{ include('admin/thesaurus/gesture/_delete_form.html.twig') }}
        </div>

    </div>
    <div class="secondary-button">
        <a href="{{ path('admin_gesture_index') }}">
            <i class="fa fa-undo action-icon"></i>
            <span class="action-name">
            {{ 'admin.control.back_to_list'|trans|capitalize }}
            </span>
        </a>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }} {# In order to add after parent's content #}
    <script src="{{ asset('build/admin.js') }}"></script>
{% endblock %}