{% extends 'base.html.twig' %}
{% trans_default_domain 'profile' %}

{% block title %}Profil de {{ profile.owner.firstname|capitalize }}{% endblock %}

{% block content %}
{% if profile %}
    <section class="profile-header">
        <div class="profile-owner">
            <h2 class="profile-owner-name">
                {{ profile.owner.firstname|capitalize }}
                {{ profile.owner.lastname|capitalize }}
            </h2>
        </div>
        <div class="profile-requests">
            <a href="#">
                <i class="fa fa-envelope"></i>
                <span class="profile-request-pending">0</span>
                <span class="profile-request-pending-text">demande(s) d'accès à ce profil.</span>
            </a>
        </div>
    </section>
    <section class="profile-container">
        <div class="profile-news">
            <div class="profile-news-title">
                <h3>Dernières activitées</h3>
            </div>
            {% for learnedGesture in profile.learnedGestures.values %}
                {{ learnedGesture.gesture.name }}
            {% endfor %}
        </div>
        <div class="profile-thesaurus">
            <div class="profile-thesaurus-title">
                <h3>Dictionnaire de profil individualisé</h3>
                <section id="thesaurus">
                    <div>
                        <form action="#" class="form-container">
                            <div class="form-group">
                                <label for="search_gesture">Rechercher un geste appris par {{ profile.owner.firstname|capitalize }}:</label>
                                <div class="search-input row input-group">
                                    <span class="input-logo" id="sizing-addon1 col-1"><i class="fa fa-search fa"></i></span>
                                    <input type="text" name="search_gesture" id="search" class="form-control col-11">
                                </div>
                            </div>
                        </form>
                        <div class="gestures-container">
                            <div class="status">
                                <i></i>
                                <span class="status-message"></span>
                            </div>
                            <div class="gesture-details">

                            </div>
                            <div id="gesture">
                            </div>
                            <div class='pagination-controls js-pagination-controls' style="display:none;">
                                <div class="controls">
                                    <button class='btn btn-primary disabled js-previous-page'><i class="fa fa-angle-left prev-icon"></i>Précédent</button>
                                    <div class="separator"></div>
                                    <button class='btn btn-primary js-next-page'>Suivant<i class="fa fa-angle-right next-icon"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            {# THESAURUS HERE #}
        </div>

    </section>

    {#{% for deficiency in profile.owner.deficiencies.values %}#}
        {#{{ deficiency.name }}#}
    {#{% endfor %}#}
    {#{{ profile.content }}#}
{% else %}
    no profile found with that id.
{% endif %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/profile.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/profile.js') }}"></script>
{% endblock %}
