{% extends 'base.html.twig' %}
{% trans_default_domain 'admin' %}

{% block title %}{{ 'admin.gesture.edit'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/bootstrap-tagsinput.css') }}">
{% endblock %}

{% block content %}
    <h1>{{ 'admin.gesture.edit'|trans }}</h1>

    {{ include('thesaurus/gesture/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('thesaurus/gesture/_delete_form.html.twig') }}

    <div class="help-links">
        <a href="{{ path('thesaurus_gesture_index') }}">
            <i class="fa fa-undo action-icon"></i>
            <span>
            {{ 'admin.control.back_to_list'|trans|capitalize }}
            </span>
        </a>
    </div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/admin.js') }}"></script>
{% endblock %}