{% extends 'base.html.twig' %}
{% trans_default_domain 'admin' %}

{% block title %}{{ 'admin.gesture.list'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'admin.gesture.list'|trans }}</h1>

    {{ include('thesaurus/gesture/details.html.twig') }}

    <form action="#" class="form-container search-form">
        <div class="form-group">
            <label for="search_gesture">{{ 'admin.gesture.search'|trans }}</label>
            <div class="search-input row input-group">
                <input type="text" name="search_gesture" id="search" class="form-control col-11">
                <a class="input-logo search-action" id="sizing-addon1 col-1"><i class="fa fa-search fa"></i>Rechercher</a>
            </div>
        </div>
    </form>

    <div class="pagination-content">
        {{ include('thesaurus/gesture/list_pagination.html.twig') }}
    </div>

    <a class="action-link" href="{{ path('thesaurus_gesture_new') }}">
        <i class="fa fa-plus action-icon"></i>
        <span class="action-name">
            {{ 'admin.control.create'|trans }}
        </span>
    </a>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/admin.js') }}"></script>
{% endblock %}