{% extends 'base.html.twig' %}
{% trans_default_domain 'admin' %}

{% block title %}Gesture index{% endblock %}

{% block content %}
    <h1>Gesture index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'admin.gesture.name'|trans }}</th>
                <th>{{ 'admin.gesture.profileVideo'|trans }}</th>
                <th>{{ 'admin.gesture.video'|trans }}</th>
                <th>{{ 'admin.gesture.cover'|trans }}</th>
                <th>{{ 'admin.gesture.description'|trans }}</th>
                <th>{{ 'admin.gesture.isPublished'|trans }}</th>
                <th>{{ 'admin.control.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for gesture in gestures %}
            <tr>
                <td>{{ gesture.name }}</td>
                <td>{{ gesture.profileVideo ? 'admin.control.yes'|trans : 'admin.control.no'|trans }}</td>
                <td>{{ gesture.video ? 'admin.control.yes'|trans : 'admin.control.no'|trans }}</td>
                <td>{{ gesture.cover ? 'admin.control.yes'|trans : 'admin.control.no'|trans }}</td>
                <td>{{ gesture.description ? 'admin.control.yes'|trans : 'admin.control.no'|trans }}</td>
                <td>{{ gesture.isPublished ? 'admin.control.yes'|trans : 'admin.control.no'|trans }}</td>
                <td>
                    <a href="{{ path('thesaurus_gesture_show', {'id': gesture.id}) }}">{{ 'admin.control.show'|trans }}</a>
                    <a href="{{ path('thesaurus_gesture_edit', {'id': gesture.id}) }}">{{ 'admin.control.modify'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('thesaurus_gesture_new') }}">Create new</a>
{% endblock %}