{% extends 'admin/admin.html.twig' %}
{% trans_default_domain 'admin' %}

{% block title %}{{ 'admin.gestures.new'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'admin.gestures.new'|trans }}</h1>

    {{ include('thesaurus/gesture/_form.html.twig') }}

    <a href="{{ path('thesaurus_gesture_index') }}">{{ 'admin.control.back_to_list'|trans }}</a>
{% endblock %}